<div class="main-body">
    <h3>Level 2: <span>TEXT</span></h3>
    <p>Type the alphanumerical characters from the image below!</p>
    <canvas id="canvas" width="400" height="200"></canvas>
    <button [ngClass]="{'regen': true, 'btn': true, 'btn-regen': !answered && !levelDone, 'btn-disabled': answered || levelDone}" type="button" [disabled]="answered || levelDone" (click)="regenerateCharacters()">Regenerate</button>
    <div class="input-group mb-3 input-answer">
        <input type="text" class="form-control" placeholder="Type the alphanumerical characters here..." aria-label="User's Answer" aria-describedby="button-addon2" [disabled]="answered || levelDone" [(ngModel)]="userAnswer" [maxlength]="6">
        <button [ngClass]="{'btn': true, 'btn-submit': userAnswer && !answered && !levelDone, 'btn-disabled': !userAnswer || answered || levelDone}" type="button" id="button-addon2" [disabled]="!userAnswer || answered || levelDone" (click)="checkAnswer()">Submit</button>
    </div>
    <p [ngStyle]="{opacity: userAnswer ? '1' : '0'}">Your Answer: <span>{{ userAnswer }}</span></p>
    <p [ngStyle]="{opacity: answered ? '1' : '0'}">Expected Result: <span>{{ expectedResult }}</span></p>
    <p [ngStyle]="{opacity: answered || levelDone ? '1' : '0', color: result || levelDone ? 'green' : 'red'}">{{ resultText }}
        <span *ngIf="!answered && !levelDone">
            <button type="button" class="btn btn-primary" [style.opacity]="0">Style Holder</button>
        </span>
        <span *ngIf="answered && !levelDone">
            <button type="button" class="btn btn-primary btn-level" value="2" *ngIf="!result" (click)="emitLevel($event)">Try Again</button>
            <button type="button" class="btn btn-primary btn-level" value="3" *ngIf="result" (click)="emitLevel($event)">Move On</button>
        </span>
        <span *ngIf="levelDone">
            <button type="button" class="btn btn-primary btn-level" value="3" (click)="emitLevel($event)">Move On</button>
            <button type="button" class="btn btn-primary btn-level" value="2" (click)="emitLevel($event)">Try Again, instead</button>
        </span>
    </p>
    <p [ngStyle]="{opacity: movedOn ? '1' : '0', color: movedOn ? 'green' : 'red'}">{{ movedOnText }}
        <span *ngIf="!movedOn">
            <button type="button" class="btn btn-primary" [style.opacity]="0">Style Holder</button>
        </span>
        <span *ngIf="movedOn">
            <button type="button" class="btn btn-primary btn-level" value="3" (click)="emitLevel($event)">Move On</button>
        </span>
    </p>
    <button type="button" class="btn btn-dark" value="1" (click)="emitLevel($event)">Back</button>
</div>
